@charset "UTF-8";

article > div.content {
	max-width: 1170px;
	margin: 0 auto;
	color: rgba(51, 51, 51, 1);
}

article > div.content h1 {
	position: relative;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

article > div.content h1::after {
	position: absolute;
	content: "";
	width: 80px;
	height: 4px;
	bottom: 0;
	left: calc(50% - 40px);
	background-color: rgba(255, 10, 10, 1);
}

article > div.content h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

article > div.content h3 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

article > div.content p,
article > div.content ul  {
	margin-top: 20px;
	margin-bottom: 20px;
}

article > div.content ul > li {
	position: relative;
	padding-left: 20px;
	margin: 0 auto;
}

article > div.content ul > li::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	top: 8px;
	left: 0;
	background-color: rgba(255, 10, 10, 1);
	border-radius: 50%;
}

@media (min-width: 1401px) {
	article > div.content {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media (min-width: 1041px) and (max-width: 1400px)  {
	article > div.content {
		width: calc(100% - 100px);
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (min-width: 1041px) {
	article > div.content h2 {
		font: normal 30px/34px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h3 {
		font : normal 27px/28px "Light", Arial, sans-serif;
	}

	article > div.content p,
	article > div.content ul  {
		font: normal 20px/25px "Light", Arial, sans-serif;
	}

	article > div.content h1 {
		font: normal 45px/45px "Roboto Condensed", Arial, sans-serif;
	}
}

@media (min-width: 721px) and (max-width: 1040px) {
	article > div.content {
		width: calc(100% - 80px);
		padding-top: 40px;
		padding-bottom: 40px;
	}

	article > div.content h2 {
		font: normal 30px/34px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h3 {
		font : normal 27px/28px "Light", Arial, sans-serif;
	}

	article > div.content p,
	article > div.content ul  {
		font: normal 18px/25px "Light", Arial, sans-serif;
	}

	article > div.content h1 {
		font: normal 40px/45px "Roboto Condensed", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	article > div.content {
		width: calc(100% - 60px);
		padding-top: 30px;
		padding-bottom: 30px;
	}

	article > div.content h1 {
		font: normal 36px/40px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h2 {
		font: normal 26px/28px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h3 {
		font : normal 24px/24px "Light", Arial, sans-serif;
	}

	article > div.content p,
	article > div.content ul  {
		font: normal 18px/25px "Light", Arial, sans-serif;
	}

}

@media (max-width: 480px) {
	article > div.content {
		width: calc(100% - 40px);
		padding-top: 20px;
		padding-bottom: 20px;
	}

	article > div.content h1 {
		font: normal 32px/36px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h2 {
		font: normal 24px/28px "Roboto Condensed", Arial, sans-serif;
	}

	article > div.content h3 {
		font : normal 21px/21px "Light", Arial, sans-serif;
	}

	article > div.content p,
	article > div.content ul  {
		font: normal 18px/25px "Light", Arial, sans-serif;
	}
}
