@charset "UTF-8";

article > div.content,
article > div.brief,
article > div.brief blockquote,
article > div.content blockquote,
article > div.content ul > li,
article > div.brief ul > li {
	margin : 0 auto;
	}

article > div.content,
article > div.brief {
	max-width : 1280px;
	color : rgba(51, 51, 51, 1);
	}

article h1,
article h2,
article h3,
article > div.brief blockquote,
article > div.content blockquote {
	text-align : center;
	}

article > div.content h1,
article > div.content h2,
article > div.content h3,
article > div.brief h1,
article > div.brief h2,
article > div.brief h3 {
	padding-bottom : 20px;
	}

article h1 {
	position : relative;
	}

article h1::after {
	position : absolute;
	content : "";
	width : 80px;
	height : 4px;
	bottom : 0;
	left : calc(50% - 40px);
	background-color : rgba(255, 10, 10, 1);
	}

article > div.brief blockquote,
article > div.content blockquote {
	max-width : 960px;
	}

article > div.content h3 {
	text-transform: uppercase;
	}

article > div.content ul,
article > div.brief ul  {
	margin-bottom : 20px;
	}

article > div.content ul,
article > div.brief ul {
	margin-top : 20px;
	}

article > div.content ul > li,
article > div.brief ul > li {
	position : relative;
	padding-left : 20px;
	}

article > div.content ul > li::before,
article > div.brief ul > li::before {
	position : absolute;
	content : "";
	width : 8px;
	height : 8px;
	top : 8px;
	left : 0;
	background-color : rgba(255, 10, 10, 1);
	border-radius : 50%;
	}

	div.content > div.text_photo,
	div.content > div.photo_text {
		display: flex;
		flex-wrap: wrap;
	}

	div.text_photo > div > div,
	div.photo_text > div > div {
		display: block;
		width: 100%;
		position: relative;
	}

	div.preview {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
	}

@media (min-width: 1401px) {
	article > div.content,
	article > div.brief {
		padding : 30px 60px;
		}

		article > div.brief blockquote,
		article > div.content blockquote {
				font : normal 28px/32px "Light", Arial, sans-serif;
				padding-top : 30px;
		}

	article > div.brief,
	article > div.content,
	article > div.content ul,
	article > div.brief ul	  {
		font: normal 24px/30px "Light", Arial, sans-serif;
		}

	article h1 {
		font: normal 40px/46px "Roboto Condensed", Arial, sans-serif;
		}

	article h2 {
		font: normal 36px/40px "Roboto Condensed", Arial, sans-serif;
		}

	article > div.content h3  {
		font : normal 32px/36px "Light", Arial, sans-serif;
		}
}

@media (min-width: 1040px) {

	div.text_photo,
	div.photo_text {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.text_photo > div:last-child {
		width: 50%;
		margin-left: 20px;
		}

	div.text_photo > div:first-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div:first-child {
		margin-right: 20px;
		width: 50%;
	}

	div.photo_text > div:last-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div > p,
	div.text_photo > div > p {
		margin-top: 0 !important;
	}
}

@media (min-width: 1041px) and (max-width: 1400px)  {
	article > div.content,
	article > div.brief {
		padding : 25px 50px;
		}

	article > div.brief blockquote,
	article > div.content blockquote {
		font : normal 26px/30px "Light", Arial, sans-serif;
		padding-top : 25px;
		}

	article > div.brief,
	article > div.content,
	article > div.content ul,
	article > div.brief ul  {
		font: normal 22px/28px "Light", Arial, sans-serif;
		}

	article h1 {
		font: normal 38px/42px "Roboto Condensed", Arial, sans-serif;
		}

	article h2 {
		font: normal 34px/38px "Roboto Condensed", Arial, sans-serif;
		}

	article > div.content h3 {
		font : normal 30px/34px "Light", Arial, sans-serif;
		}
}

@media (min-width: 721px) and (max-width: 1040px) {
	article > div.content,
	article > div.brief {
		padding : 20px 40px;
		}

	article > div.content blockquote,
	article > div.brief blockquote {
		font : normal 24px/28px "Light", Arial, sans-serif;
		padding-top: 20px;
		}

	article > div.brief,
	article > div.content,
	article > div.content ul,
	article > div.brief ul  {
		font: normal 20px/26px "Light", Arial, sans-serif;
		}

	article h1 {
		font: normal 36px/40px "Roboto Condensed", Arial, sans-serif;
		}

	article h2 {
		font: normal 32px/36px "Roboto Condensed", Arial, sans-serif;
		}

	article > div.content h3  {
		font : normal 28px/32px "Light", Arial, sans-serif;
		}

		div.text_photo,
		div.photo_text {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		div.text_photo > div:last-child {
			width: 50%;
			margin-left: 20px;
			margin-bottom: 20px;
			}

		div.text_photo > div:first-child {
			width: calc(50% - 20px);
		}

		div.photo_text > div:first-child {
			margin-right: 20px;
			width: 50%;
		}

		div.photo_text > div:last-child {
			width: calc(50% - 20px);
		}

		div.photo_text > div > p,
		div.text_photo > div > p {
			margin-top: 0 !important;
		}
}

@media (min-width: 481px) and (max-width: 720px) {
	article > div.content,
	article > div.brief {
		padding : 15px 30px;
		}

		article > div.content blockquote,
		article > div.brief blockquote {
			font : normal 22px/26px "Light", Arial, sans-serif;
			padding-top : 15px;
			}

	article > div.brief,
	article > div.content,
	article > div.content ul,
	article > div.brief ul   {
		font: normal 18px/24px "Light", Arial, sans-serif;
		}

	article h1 {
		font: normal 34px/38px "Roboto Condensed", Arial, sans-serif;
		}

	article h2 {
		font: normal 30px/34px "Roboto Condensed", Arial, sans-serif;
		}

	article > div.content h3 {
		font : normal 26px/30px "Light", Arial, sans-serif;
		}

		div.photo_text > div,
		div.text_photo > div {
			width: 100%;
		}

		div.photo_text > div > p,
		div.text_photo > div > p {
			margin-bottom: 0 !important;
		}

		div.text_photo > div:last-child {
			order: 0;
		}

		div.text_photo > div:first-child {
			order: 1;
		}

		div.text_photo > div:first-child,
		div.photo_text > div:last-child {
			padding-top: 20px;
		}
}

@media (max-width: 480px) {
	article > div.content,
	article > div.brief {
		padding : 10px 20px;
		}

	article > div.brief blockquote,
	article > div.content blockquote  {
		font : normal 20px/24px "Light", Arial, sans-serif;
		padding-top : 10px;
	}

	article > div.brief p,
	article > div.content p,
	article > div.content ul,
	article > div.brief ul  {
		font: normal 16px/22px "Light", Arial, sans-serif;
		}

	article h1 {
		font: normal 32px/36px "Roboto Condensed", Arial, sans-serif;
		}

	article h2 {
		font: normal 28px/32px "Roboto Condensed", Arial, sans-serif;
		}

	article > div.content h3 {
		font : normal 24px/28px "Light", Arial, sans-serif;
		}

		div.photo_text > div,
		div.text_photo > div {
			width: 100%;
		}

		div.photo_text > div > p,
		div.text_photo > div > p {
			margin-bottom: 0 !important;
		}

		div.text_photo > div:last-child {
			order: 0;
		}

		div.text_photo > div:first-child {
			order: 1;
		}

		div.text_photo > div:first-child,
		div.photo_text > div:last-child {
			padding-top: 20px;
		}
}
