@charset "UTF-8";

div.content > div.records,
div.content > div.text_photo,
div.content > div.photo_text,
div.content > div.evidence_wrap {
	display: flex;
	flex-wrap: wrap;
}

div.content > div.records > div {
	text-transform: uppercase;
}

div.preview.company {
	position: relative;
	height: 300px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-image: url("../img/company_background.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

div.text_photo > p,
div.photo_text > p {
	margin-top: 0 !important;
}

div.text_photo > div > div,
div.photo_text > div > div {
	display: block;
	width: 100%;
	position: relative;
	cursor: pointer;
	transition: all .25s ease;
}

div.text_photo > div.lb.action > div > img,
div.photo_text > div.lb.action > div > img {
	width: 100%;
}

div.text_photo > div:last-child > div::before,
div.photo_text > div:first-child > div::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	transition: all .25s ease;
}

div.text_photo > div:last-child > div:hover::before,
div.photo_text > div:first-child > div:hover::before{
	background-color: rgba(0, 0, 0, 0.3);
}

div.container > article div.lb > div::after {
	display : block;
	position : absolute;
	top : calc(50% - 20px);
	left : calc(50% - 20px);
	z-index : 2;
	width : 40px;
	height : 40px;
	background-color : rgba(0, 0, 0, 0.8);
	color : rgba(255, 255, 255, 1);
	text-align : center;
	font-size : 30px;
	line-height : 36px;
	border-radius : 50%;
	transition : opacity .25s ease;
	content : "+";
	opacity : 0;
	}

div.container > article div.lb > div:hover::after {
	opacity : 1;
	}

div.container > div.lbox {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 20;
	width: 100%;
	height: 100%;
	}

	div.container > div.lbox > div {
		display : flex;
		justify-content : center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		cursor : pointer;
		z-index : 21;
	}

@media all and (orientation: portrait) {
	.lbox > div > img {
		max-width: 90%;
		margin: auto;
	}

}

@media all and (orientation: landscape) {
	.lbox > div > img {
		max-height: 85%;
		margin: auto;
	}

}

@media (min-width: 1041px) {
	div.content > div.records {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	div.content > div.records > div {
		width: 50%;
		font : normal 40px/40px "Light", Arial, sans-serif;
		padding-bottom: 40px;
	}

	div.text_photo,
	div.photo_text {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.text_photo > div:last-child {
		width: 50%;
		margin-left: 20px;
		}

	div.text_photo > div:first-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div:first-child {
		margin-right: 20px;
		width: 50%;
	}

	div.photo_text > div:last-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div > p,
	div.text_photo > div > p {
		margin-top: 0 !important;
	}

	div.evidence_wrap > div {
		width: calc((100% - 60px) / 3);
	}

	div.evidence_wrap > div:not(:last-child) {
		margin-right: 30px;
	}
}

@media (min-width: 721px) and (max-width: 1040px) {

	div.text_photo,
	div.photo_text {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.text_photo > div:last-child {
		width: 50%;
		margin-left: 20px;
		margin-bottom: 20px;
		}

	div.text_photo > div:first-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div:first-child {
		margin-right: 20px;
		width: 50%;
	}

	div.photo_text > div:last-child {
		width: calc(50% - 20px);
	}

	div.photo_text > div > p,
	div.text_photo > div > p {
		margin-top: 0 !important;
	}

	div.evidence_wrap > div {
		width: calc((100% - 40px) / 3);
	}

	div.evidence_wrap > div:not(:last-child) {
		margin-right: 20px;
	}

	div.content > div.records {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.content > div.records > div {
		width: 50%;
		font : normal 32px/32px "Light", Arial, sans-serif;
		padding-bottom: 30px;

	}
}

@media (min-width: 481px) and (max-width: 720px) {
	div.evidence_wrap > div {
		width: 100%;
	}

	div.content > div.records {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.content > div.records > div {
		width: 100%;
		font : normal 28px/28px "Light", Arial, sans-serif;
		padding-bottom: 20px;
	}

	div.photo_text > div,
	div.text_photo > div {
		width: 100%;
	}

	div.photo_text > div > p,
	div.text_photo > div > p {
		margin-bottom: 0 !important;
	}

	div.text_photo > div:last-child {
		order: 0;
	}

	div.text_photo > div:first-child {
		order: 1;
	}
}

@media (max-width: 480px) {
	div.evidence_wrap > div {
		width: 100%;
	}

	div.content > div.records {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.content > div.records > div {
		width: 100%;
		font : normal 24px/24px "Light", Arial, sans-serif;
		padding-bottom: 20px;
	}

	div.photo_text > div,
	div.text_photo > div {
		width: 100%;
	}

	div.photo_text > div > p,
	div.text_photo > div > p {
		margin-bottom: 0 !important;
	}

	div.text_photo > div:last-child {
		order: 0;
	}

	div.text_photo > div:first-child {
		order: 1;
	}
}
