@charset "UTF-8";

article {
	position: relative;
	width: 100%;
	color: rgba(51, 51, 51, 1);
	margin-top: 70px;
}

div.prod_types,
div.text  {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}

div.text {
	padding-top: 50px;
	padding-bottom: 50px;
}

div.prod_types > ul,
div.preview_wrap,
div.text_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

div.text_container {
	padding: 50px 20px 30px 20px;
}

div.prod_types > ul > li {
	position: relative;
	overflow: hidden;
}

div.prod_types > ul > li > a {
	display: block;
	width: 100%;
}

div.prod_types > ul > li span {
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	color: rgba(51, 51, 51, 1);
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, .3);
	transition: all .25s ease;
	z-index: 5;
}

div.prod_types > ul > li > a:hover > span {
	color: rgba(169, 0, 0, 1);
	background-color: rgba(255, 255, 255, .7);
}

div.prod_types > ul > li > a:hover > img {
	transform: scale(1.1);
}

div.prod_types > ul > li img {
	display: block;
	width: 100%;
	height: auto;
	transition: all .25s ease;
}

div.preview {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

div.preview.expertise {
	padding-top: 100px;
	padding-bottom: 50px;
	background-image: url("../img/fleurs.jpg");
	background-position: 25% 50%;
}

div.preview.production {
	padding-top: 250px;
	padding-bottom: 50px;
	background-image: url("../img/drop.jpg");
	background-position: 50% 50%;
}

div.preview_wrap > div {
	background-color: rgba(255, 255, 255, .8);
}

div.preview_wrap p {
	margin-bottom: 20px;
}

div.preview_wrap p > a::after {
	content: "\203A";
	position: absolute;
	width: 20px;
	height: 25px;
	text-align: center;
	transition: all .25s ease;
}

div.preview_wrap p > a:hover::after {
	transform: translateX(5px);
}

div.preview h3 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

div.preview a {
	color: rgba(214, 0, 0, 1);
	transition : all .25s ease;
}

div.preview a:hover {
	color: rgba(169, 0, 0, 1);
}

div.text p {
	text-align: center;
	margin-bottom: 20px;
}

@media (min-width: 1041px) and (max-width: 1400px) {
	div.prod_types > ul,
	div.preview_wrap,
	div.text_container {
		width: calc(100vw - 100px);
	}
}

@media (min-width: 1041px) {
	div.prod_types > ul > li {
		width: calc((100% - 60px) / 4);
		margin-bottom: 40px;
	}

	div.prod_types > ul {
		padding-top: 40px;
	}

	div.prod_types > ul > li:not(:last-child) {
		margin-right: 20px;
	}

	div.prod_types > ul > li span {
		font : normal 31px/43px "Light", Arial, sans-serif;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	div.preview_wrap > div  {
		width: calc((100% - 40px) / 2);
		padding: 50px;
	}

	div.preview.expertise > div > div {
		margin-right: auto;
	}

	div.preview.production > div > div {
		margin-left: auto;
	}

	div.preview h3 {
		font : normal 27px/28px "Light", Arial, sans-serif;
	}

	div.preview p {
		font : normal 20px/25px "Light", Arial, sans-serif;
		text-align: justify;
	}

	div.text p {
		font : normal 26px/27px "Light", Arial, sans-serif;
	}
}

@media (min-width: 721px) and (max-width: 1040px) {
	div.prod_types > ul,
	div.preview_wrap,
	div.text_container   {
		width: calc(100% - 80px);
	}

	div.prod_types > ul > li span {
		font : normal 31px/43px "Light", Arial, sans-serif;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	div.expertise > div,
	div.production > div {
		width: 680px;
		align-self: center;
		padding: 50px;
	}

	div.preview h3 {
		font : normal 27px/28px "Light", Arial, sans-serif;
	}

	div.preview p {
		font : normal 18px/25px "Light", Arial, sans-serif;
	}

	div.text p {
		font : normal 26px/27px "Light", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 1040px) {
	div.prod_types > ul > li {
		width: calc((100% - 40px) / 2);
		margin-bottom: 40px;
	}

	div.prod_types > ul {
		padding-top: 40px;
	}

	div.prod_types > ul > li:nth-child(odd) {
		margin-right: 40px;
	}

	div.preview_wrap > div {
		padding: 20px;
	}

	div.preview p {
		text-align: justify;
	}
}

@media (max-width: 720px) {
	div.preview_wrap > div {
		width: calc(100% - 40px);
		min-width: 280px;
	}

	div.preview_wrap {
		justify-content: center;
	}

	div.preview h3 {
		font: normal 18px/18px "Light", Arial, sans-serif;
	}

	div.preview p {
		font: normal 16px/25px "Light", Arial, sans-serif;
	}

	div.text p {
		font : normal 22px/27px "Light", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	div.prod_types > ul,
	div.preview_wrap,
	div.text_container {
		width: calc(100% - 60px);
	}

	div.prod_types > ul > li span {
		font : normal 23px/40px "Light", Arial, sans-serif;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	div.preview_wrap > div {
		padding: 30px;
	}
}

@media (max-width: 480px) {
	div.prod_types > ul,
	div.preview_wrap,
	div.text_container {
		width: calc(100% - 40px);
	}

	div.prod_types > ul > li {
		width: calc((100% - 20px) / 2);
		margin-bottom: 20px;
	}

	div.prod_types > ul {
		padding-top: 20px;
	}

	div.prod_types > ul > li:nth-child(odd) {
		margin-right: 20px;
	}

	div.prod_types > ul > li span {
		font : normal 18px/20px "Light", Arial, sans-serif;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	div.preview_wrap > div {
		padding: 20px;
	}

	div.preview p {
		text-align: left;
	}
}
