@charset "UTF-8";

div.down_level {
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 350px;
	background: url("../img/scentstrip.jpg") no-repeat 50% 0;
}

div.down_level.gallery_wrap {
	padding-bottom: 50px;
}
