@charset "UTF-8";

article {
	padding-top: 20px;
}

div.brief > p > span {
	text-transform: uppercase;
}

article ul.experts {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;

}

div.preview.experts {
	background-image: url("../img/expertise_background.jpg");
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

article ul.experts > li {
	position: relative;
	perspective: 1000px;
}

article ul.experts > li:hover > div {
	transform: rotateY(180deg);
}

article ul.experts > li > div {
	transition : 0.6s;
	transform-style : preserve-3d;
	position : relative;
}

article ul.experts > li > div,
 article ul.experts > li > div > div {
	width: 100%;
}

article ul.experts > li > div > div.reverse,
article ul.experts > li > div > div.averse {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	background-color: rgba(255, 255, 255, 1);
}

article ul.experts > li > div > div.averse  {
	z-index: 3;
	transform : rotateY(0deg);
}

article ul.experts > li > div > div.reverse {
	transform: rotateY(180deg);
}

article ul.experts > li > div > div.reverse > div {
	display: flex;
	background-color: rgba(136, 136, 136, 1);
}

article ul.experts > li > div > div.averse > img,
article ul.experts > li > div > div.reverse > div,
article ul.experts > li > div > div.reverse > p  {
	width: 100%;
}

article ul.experts > li > div > div.averse > img {
	display: block;
	height: auto;
}

article ul.experts > li > div > div.reverse > div > div {
	width: 40%;
}

article ul.experts > li > div > div.reverse > div > div > img {
	width: 100%;
}

article ul.experts > li > div > div.reverse > div > span {
	width: 60%;
}

article ul.experts > li > div > div.reverse > p {
	padding: 20px 15px;
}

ul.experts p {
	text-align: left;
}

ul.experts span {
	display: block;
	position: relative;
	padding: 30px 15px 60px;
	font: normal 20px/20px "Roboto Condensed", Arial, sans-serif;
}

ul.experts  div.averse span {
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

ul.experts  div.reverse span {
	color: rgba(255, 255, 255, 1);
}

ul.experts  li span::after {
	content: "/ Парфюмер /";
	position: absolute;
	display: block;
	width: 100%;
	height: 30px;
	top: 70px;
	font : normal 16px/30px "Light", Arial, sans-serif;
}

ul.experts  div.reverse span::after {
	color: rgba(255, 255, 255, 1);
}

ul.experts  div.averse span::after {
	left: -5px;
	text-align: center;
}

@media (min-width: 1041px) and (max-width: 1400px) {
	article ul.experts {
		width: calc(100% - 100px);
	}
}

@media (min-width: 1041px) {
	article ul.experts > li {
		width: calc((100% - 40px) / 3);
	}

	article ul.experts > li:not(:last-child) {
		margin-right: 20px;
	}

	article ul.experts > li > div {
		padding-top: calc(160% + 80px);
	}

	article ul.experts > li > div > div.reverse > p {
		font : normal 18px/20px "Light", Arial, sans-serif;
	}
}

@media (min-width: 1041px) and (max-width: 1171px) {
	article ul.experts > li > div > div.reverse > div {
		display: none;
	}
}

@media (max-width: 1040px) {
	article ul.experts > li {
		width: 100%;
	}

	article ul.experts > li > div {
		padding-top: calc(160% + 80px);
	}
}

@media (min-width: 721px) and (max-width: 1040px) {
	article ul.experts {
		width: calc(100% - 80px);
	}

	article ul.experts > li {
		width: 70%;
		margin: 0 auto;
	}

	article ul.experts > li > div {
		padding-top: calc(160% + 80px);
	}

	article ul.experts > li > div > div.averse {
		margin-bottom: 40px;
	}

	article ul.experts > li > div > div.reverse > p {
		font : normal 18px/20px "Light", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	article ul.experts {
		width: calc(100% - 60px);
	}

	article ul.experts > li {
		width: 100%;
		margin-bottom: 30px;
	}

	article ul.experts > li > div {
		padding-top: calc(155% + 80px);
	}

	article ul.experts > li > div > div.reverse > p {
		font : normal 18px/18px "Light", Arial, sans-serif;
	}
}

@media (max-width: 480px)  {
	article ul.experts {
		width: calc(100% - 40px);
	}

	article ul.experts > li {
		width: 100%;
		margin-bottom: 20px;
	}

	article ul.experts > li > div {
		padding-top: 180%;
	}

	article ul.experts > li > div > div.reverse > p {
		font : normal 17px/18px "Light", Arial, sans-serif;
	}
}

@media (max-width: 480px) and (orientation: portrait) {
	div.reverse,
	div.averse {
		height: calc(100vh - 70px);
		overflow: hidden;
	}

	div.averse > span {
		position: absolute;
		bottom: 0;
		z-index: 2;
		background-color: rgba(255, 255, 255, 1);
		width: 100%;
	}

	article ul.experts > li > div > div.reverse > div {
		display: none;
	}

}
