@charset "UTF-8";

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer_wrapper {
	width: 100%;
	background: url("../img/footer_backgr.jpg") no-repeat 50% 50% rgba(220, 20,60, 1);
	background-size: cover;
}

.footer_wrapper > div {
	max-width: 1170px;
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

footer h3 {
	font : normal 32px/32px "Light", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

ul.contacts {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

ul.contacts > li {
	display: inline;
	margin: 5px;
	text-align: center;
	white-space: nowrap;
}

.copyright {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 1);
}

.copyright > p {
	font : normal 20px/25px "Light", Arial, sans-serif;
	text-align: center;
}
footer a {
	display: inline-block;
	color: rgba(214, 0, 0, 1);
	transition : all 0.25s ease;
}

footer a:hover {
	color: rgba(169, 0, 0, 1)
}
div.telo {
	position: relative;
	width: 100%;
	height: 1000px;
}

.down_level {
	/* position: absolute;
	left: 0;
	bottom: 0; */
	width: 100%;
	padding-bottom: 350px;
	background: url("../img/scentstrip.jpg") no-repeat 50% 0;
	background-size: cover;
	background-attachment: fixed;
}

@media (min-width: 1401px) {
	.footer_wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 1041px) and (max-width: 1400px) {
	.footer_wrapper {
		padding: 25px 50px;
	}
}

@media only screen and (min-width: 1041px) {
	.copyright > p {
		font : normal 20px/25px "Light", Arial, sans-serif;
	}
}

@media (min-width: 721px) and (max-width: 1041px) {
	.footer_wrapper {
		padding: 20px 40px;
	}

	.copyright > p {
		font : normal 16px/25px "Light", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	.footer_wrapper {
		padding: 15px 30px;
	}
}

@media (min-width: 481px) {
	ul.contacts {
		margin-left: 20px;
		margin-right: 20px;
		font : normal 21px/33px "Light", Arial, sans-serif;
	}
}

@media (max-width: 480px) {
	.footer_wrapper {
		padding: 10px 20px;
	}

	ul.contacts {
		margin-left: 20px;
		margin-right: 20px;
		font : normal 18px/36px "Light", Arial, sans-serif;
	}
}

@media (max-width: 720px) {
	.copyright > p {
		font : normal 14px/25px "Light", Arial, sans-serif;
	}
}
