@charset "UTF-8";

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer_wrapper {
	width: 100%;
	background: url("../img/footer_backgr.jpg") no-repeat 50% 50% rgba(220, 20,60, 1);
	background-size: cover;
}

.footer_wrapper > div {
	max-width: 1170px;
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	/* overflow: hidden; */
}

footer h3 {
	font : normal 32px/32px "Light", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

ul.contacts {
	max-width: 90%;
	font : normal 21px/33px "Light", Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

ul.contacts > li {
	display: inline;
	position: relative;
	margin: 5px;
	text-align: center;
}

ul.contacts > li:not(:first-child)::before {
	content: "\0000a0|\0000a0";
	position: absolute;
	width: 1px;
	height: inherit;
	border-left: rgba(51, 51, 51, 1);
	left: -15px;
	top: -5px;
}

.copyright {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.copyright > p {
	font : normal 20px/25px "Light", Arial, sans-serif;
	text-align: center;
}

@media (min-width: 1401px) {
	.footer_wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 1041px) and (max-width: 1400px) {
	.footer_wrapper {
		padding: 25px 50px;
	}
}

@media only screen and (min-width: 1041px) {
	.copyright > p {
		font : normal 20px/25px "Light", Arial, sans-serif;
	}
}

@media (min-width: 721px) and (max-width: 1041px) {
	.footer_wrapper {
		padding: 20px 40px;
	}

	.copyright > p {
		font : normal 16px/25px "Light", Arial, sans-serif;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	.footer_wrapper {
		padding: 15px 30px;
	}

}

@media (min-width: 361px) {
	ul.contacts > li {
		white-space: nowrap;
	}
}

@media (max-width: 480px) {
	.footer_wrapper {
		padding: 10px 20px;
	}

	ul.contacts {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 720px) {
	.copyright > p {
		font : normal 14px/25px "Light", Arial, sans-serif;
	}
}
