@charset "UTF-8";

div.container > header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: rgba(250, 250, 250, 1);
	top: 0;
	right: 0;
	z-index: 11;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: -1px 1px 1px 1px rgba(245, 245, 245, 1);
	transition: all .25s ease;
}

div.container.opened > header {
	right: 240px;
}

div.container > header > div {
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
}

a.logo {
	display: block;
	position: relative;
	height: 50px;
	background-image: url("../img/logo.png");
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

ul.mob_menu {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 10px;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	z-index: 10;
}

ul.mob_menu > li {
	display: inherit;
	position: inherit;
	height: 2px;
	width: 100%;
	background-color: rgba(255, 10, 10, 1);
	left: 0;
	transition: all 0.25s ease;
	z-index: inherit;
}

ul.mob_menu > li:first-child,
ul.mob_menu > li:nth-child(2) {
	top: calc(50% - 1px);
	width: 66.666%;
	transform: rotate(0);
}

div.container.opened ul.mob_menu > li,
ul.mob_menu:hover > li:first-child,
ul.mob_menu:hover > li:nth-child(2),
ul.mob_menu:hover > li:nth-child(3),
ul.mob_menu > li:last-child {
	width: 100%;
}

ul.mob_menu > li:nth-child(3) {
	top: 0;
	width: 33.333%;
}

ul.mob_menu > li:last-child {
	bottom: 0;
}

div.container.opened ul.mob_menu > li:first-child {
	transform: rotate(45deg);
}

div.container.opened ul.mob_menu > li:nth-child(2) {
	transform: rotate(-45deg);
}

div.container.opened ul.mob_menu > li:nth-child(3) {
	top: -2px;
}

div.container.opened ul.mob_menu > li:last-child {
	bottom: -2px;
}

header ul.lang_choice {
	position: absolute;
	top: 10px;
	justify-content: space-between;
	width: 80px;
	height: 30px;
	padding: 0;
	margin: 0;
}

li.eng, li.fr {
	width: 30px;
	height: 100%;
}

li.eng > a, li.fr > a {
	display: block;
	width: 100%;
	height: 100%;
	transition: all .25s ease;
}

li.eng > a:hover, li.fr > a:hover {
	transform: scale(.9);
}

li.eng > a {
	background: url("../img/en.svg") no-repeat 50% 50%;
	background-size: auto auto;
}

li.fr > a {
	background: url("../img/fr.svg") no-repeat 50% 50%;
	background-size: cover;
}

@media (min-width: 1041px) {
	a.logo {
		width: 22%;
	}

	ul.mob_menu {
		display: none;
	}

	ul.lang_choice {
		display: flex;
		right: 0;
	}
}

@media (min-width: 1041px) and (max-width: 1400px) {
	header > div {
		width: calc(100% - 100px);
	}
}

@media (min-width: 721px) and (max-width: 1040px) {
	header > div {
		width: calc(100% - 80px);
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	header > div {
		width: calc(100% - 60px);
	}
}

@media (min-width: 481px) and (max-width: 1040px){
	a.logo {
		width: 206px;
	}

	ul.lang_choice {
		display: flex;
		right: 80px;
	}

	ul.mob_menu {
		right: 0;
	}
}

@media (max-width: 480px) {
	header > div {
		width: calc(100% - 40px);
	}
	a.logo {
		width: 50%;
	}

	ul.lang_choice {
		display: flex;
		right: -120px;
		z-index: 60;
	}

	li.eng, li.fr {
		position: relative;
		z-index: 100;
	}
	ul.mob_menu {
		right: 0;
	}
}
