@charset "UTF-8";

header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: rgba(255, 255, 255, 1);
	top: 0;
	left: 0;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header_wrap {
	position: relative;
	max-width: 1170px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

a.logo {
	display: block;
	position: relative;
	height: 50px;
}

ul.mob_menu {
	position: absolute;
	width: 40px;
	height: 30px;
	top: 10px;
	right: 80px;
	overflow: hidden;
}

ul.mob_menu:hover {
	cursor: pointer;
}

ul.mob_menu > li {
	position: inherit;
	height: 4px;
	background-color: rgba(255, 10, 10, 1);
	left: 0;
	border-radius: 2px;
	transition: all 0.5s;
}

ul.mob_menu > li:first-child,
ul.mob_menu > li:nth-child(2) {
	top: 12px;
	width: 66%;
}

ul.mob_menu:hover > li:first-child,
ul.mob_menu:hover > li:nth-child(2) {
	width: 100%;
}

ul.mob_menu > li:nth-child(3) {
	top: 0;
	width: 33%;
}

ul.mob_menu:hover > li:nth-child(3) {
	width: 100%;
}

ul.mob_menu > li:last-child {
	bottom: 0;
	width: 100%;
}

ul.mob_menu.opened > li:first-child {
	transform: rotate(45deg);
}

ul.mob_menu.opened > li:nth-child(2) {
	transform: rotate(-45deg);
}

ul.mob_menu.opened > li:nth-child(3) {
	top: -10px;
}

ul.mob_menu.opened > li:last-child {
	bottom: -10px;
}

ul.mob_menu.opened > li {
	width: 100%;
}

div.lang {
	position: absolute;
	top: 5px;
	right: 15px;
	width: 40px;
	height: 40px;
	background-color: rgba(245, 245, 245, 1);
	cursor: pointer;
}

div.lang > span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 5px;
	background: url("../img/rus.svg") no-repeat 50% 50%;
	background-size: auto auto;
}

ul.lang_choice {
	position: absolute;
	display: none;
	top: 60px;
	right: 20px;
	width: 70px;
	height: 100px;
	background-color: rgba(245, 245, 245, 1);
	box-shadow: 2px 2px 3px 3px rgba(230, 230, 230, 1);
}

ul.lang_choice > li {
	display: block;
	width: 30px;
	height: 30px;
	margin: 10px auto 20px;
}

ul.lang_choice > li > a {
	display: block;
	width: 100%;
	height: 100%;
}

li.eng > a {
	background: url("../img/en.svg") no-repeat 50% 50%;
	background-size: auto auto;
}

li.fr > a {
	background: url("../img/fr.svg") no-repeat 50% 50%;
	background-size: cover;
}

@media (min-width: 1041px) {
	a.logo {
		width: 25%;
		background: url("../img/logo.jpg") no-repeat 50% 50%;
		background-size: contain;
	}

	ul.mob_menu {
		/* display: none; */
	}
}

@media (max-width: 1040px) {
	a.logo {
		background: url("../img/logo_mob.jpg") no-repeat 50% 50%;
		background-size: contain;
	}

}

@media (min-width: 1041px) and (max-width: 1400px) {
	.header_wrap {
		width: calc(100vw - 100px);
	}
}

@media (min-width: 721px) and (max-width: 1040px) {
	.header_wrap {
		width: calc(100vw - 80px);
	}

	a.logo {
		width: 40%;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	.header_wrap {
		width: calc(100vw - 60px);
	}

	a.logo {
		width: 60%;
	}
}

@media (max-width: 480px) {
	.header_wrap {
		width: calc(100vw - 40px);
	}

	a.logo {
		width: 50%;
	}
}
