@charset "UTF-8";

nav {
	position: fixed;
}

nav  ul {
	width: 100%;
}

nav a.menu_actual {
	color: rgba(255, 10, 10, 1);
}

nav a:hover {
	color: rgba(230, 46, 46, 1);
}

@media (min-width: 1041px) {
	nav {
		top: 20px;
		left: calc(50% - 210px);
		width: 560px;
		z-index: 11;
	}
	nav ul > li {
		display: inline-block;
		font : normal 20px/30px "Light", Arial, sans-serif;
		text-transform: uppercase;
		margin-right: 10px;
	}
}

@media (max-width: 1040px) {
	nav {
		display: none;
	}

}
