@charset "UTF-8";

nav {
	position: fixed;
}

nav > ul {
	width: 100%;
}

nav > ul > li {
	font : normal 20px/30px "Light", Arial, sans-serif;
	text-transform: uppercase;
}

nav a.menu_actual {
	color: rgba(255, 10, 10, 1);
}

nav a:hover {
	color: rgba(230, 46, 46, 1);
}

li.lang_mob {
	height: 30px;
}

li.lang_mob > ul {
	height: 100%;
}

li.lang_mob > ul > li {
	display: inline-block;
	width: 30px;
	height: 100%;
	margin-right: 20px;
}


@media (min-width: 1041px) {
	nav {
		top: 20px;
		left: calc(50% - 210px);
		width: 560px;
		z-index: 11;
	}
	nav > ul > li {
		display: inline-block;
		margin-right: 10px;
	}
}

@media (max-width: 1040px) {
	nav {
		height: 100vh;
		box-shadow: -1px 0 10px rgba(0, 0, 0, 0.15);
		z-index: 125;
		background-color: rgba(230, 230, 230, 1);
	}

	nav.mob {
		top: 0;
		right: 0;
	}

	nav.mob::after {
		content: "";
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, .15);

	}

	nav.mob > ul {
		padding: 30px 20px 20px 20px;
		transition: all .4s;
	}

	nav.mob > ul > li {
		color: rgba(119, 119, 119, 1);
		margin-bottom: 20px;
	}
}

@media (min-width: 481px) and (max-width: 1040px) {
	nav {
		width: 320px;
		right: -325px;
	}

	nav.mob::after {
		right: 320px;
	}
}

@media (max-width: 480px) {
	nav {
		width: 200px;
		right: -205px;
	}

	nav.mob::after {
		right: 200px;
	}
}
