@charset "UTF-8";

nav {
	position: fixed;
	top: 0;
	min-width: 658px;
	max-width: 819px;
	left: 35%;
	z-index: 15;
}

nav > ul {
	display: flex;
	width: 100%;
}

nav > ul > li {
	flex: 1 1 auto;
	font : normal 20px/70px "Light", Arial, sans-serif;
	text-transform: uppercase;
}

nav a.menu_actual {
	color: rgba(255, 10, 10, 1);
}

nav a:hover {
	color: rgba(230, 46, 46, 1);
}

@media (min-width: 1401px) {

}

@media (min-width: 1041px) and (max-width: 1400px) {

}

@media (max-width: 1040px) {
	nav {
		display: none;
	}
}
