@charset "UTF-8";

article {
	padding-top: 20px;
}

article ul.experts {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

div.preview.experts {
	background-image: url("../img/expertise_background.jpg");
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

.swiper-container {
    position: relative;
    overflow: hidden;
	}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin : 0;
    padding : 0;
    list-style : none;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	}

.swiper-slide {
	position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
	}

.swiper-slide > div.reverse > div {
	display: flex;
	background-color: rgba(136, 136, 136, 1);
}

.swiper-slide  > div.averse,
.swiper-slide  > div.reverse {
	background-color: rgba(255, 255, 255, 1);
}

.swiper-slide  > div.averse > img,
.swiper-slide  > div.reverse > div,
.swiper-slide  > div.reverse > p  {
	width: 100%;
}

div.averse > img {
	display: block;
	height: auto;
}

div.reverse > div > div {
	width: 40%;
}

div.reverse > div > div > img {
	width: 100%;
}

div.reverse > div > span {
	width: 60%;
}

div.reverse > p {
	padding: 20px 15px;
}

ul.experts p {
	text-align: left;
}

ul.experts span {
	display: block;
	position: relative;
	padding: 30px 15px 60px;
	font: normal 20px/20px "Roboto Condensed", Arial, sans-serif;
}

ul.experts  div.averse span {
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

ul.experts  div.reverse span {
	color: rgba(255, 255, 255, 1);
}

ul.experts  li span::after {
	content: "/ Парфюмер /";
	position: absolute;
	display: block;
	width: 100%;
	height: 30px;
	top: 70px;
	font : normal 16px/30px "Light", Arial, sans-serif;
}

ul.experts  div.reverse span::after {
	color: rgba(255, 255, 255, 1);
}

ul.experts  div.averse span::after {
	left: -5px;
	text-align: center;
}

@media (min-width: 1041px) and (max-width: 1400px) {
	article ul.experts {
		width: calc(100% - 100px);
	}
}

@media (min-width: 1041px) {
	article ul.experts > li {
		width: calc((100% - 40px) / 3);
	}

	article ul.experts > li:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 1040px) {

}

@media (min-width: 721px) and (max-width: 1040px) {
	article ul.experts {
		width: calc(100% - 80px);
	}

	article ul.experts li.swiper-slide > div.averse,
	article ul.experts li.swiper-slide > div.reverse {
		width: 70%;
		margin: 0 auto;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	article ul.experts {
		width: calc(100% - 60px);
	}

	article ul.experts > li {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px)  {
	article ul.experts {
		width: calc(100% - 40px);
	}

	article ul.experts > li {
		width: 100%;
		margin-bottom: 20px;
	}
}
