@charset "UTF-8";

div.video {
	position: relative;
	width: 100%;
	height: calc(100vh - 70px);
	overflow: hidden;
}

div.video > video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

div.video > div.video_cover {
	position: relative;
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	z-index: 2;
}

div.video > div.video_cover > div {
	position: absolute;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1401px) {
	div.video {
		padding : 0 60px;
		}

	div.video > div.video_cover > div {
		min-width : 35%;
		max-width : 50%;
		padding : 30px;
		right : 60px;
		bottom : 60px;
		font : normal 24px/30px "Light", Arial, sans-serif;
		}
	}

@media (min-width: 1041px) and (max-width: 1400px) {
	div.video {
		padding : 0 50px;
		}

		div.video > div.video_cover > div {
		min-width : 35%;
		max-width : 50%;
		padding : 25px;
		right : 0;
		bottom : 50px;
		font: normal 22px/28px "Light", Arial, sans-serif;
		}
}

@media (min-width: 721px) and (max-width: 1040px) {
	div.video {
		padding : 0 40px;
		}

	div.video > div.video_cover > div {
		width : 50vmax;
		padding : 20px;
		right: 0;
		bottom: 40px;
		font: normal 20px/26px "Light", Arial, sans-serif;
		}
}

@media (min-width: 481px) and (max-width: 720px) {
	div.video {
		padding : 0 30px;
		}

	div.video > div.video_cover > div {
		width: 83%;
		padding : 15px;
		right: 0;
		bottom: 30px;
		font: normal 18px/24px "Light", Arial, sans-serif;
		}
}

@media (max-width: 480px) {
	div.video {
		padding : 0 20px;
		}

	div.video_cover > div {
		width : 100%;
		padding : 10px;
		bottom: 20px;
		font: normal 16px/22px "Light", Arial, sans-serif;
		}
	}
}
